<div class="search">
    <form method="POST"  action="#">
        <div>
            <span>
                <select name="Day" class="search-select" [(ngModel)] = "VolCounSearchResult.Day" required>
                    <option disabled [ngValue]="null"> -- Day --</option>
                    <option *ngFor = " let day of Dayes" [ngValue]="day">{{day}} &nbsp;Ramadan</option>
                    
                </select>
            </span>
            <span *ngIf="OrgAdmins">
                <select name="Country" class="search-select" [(ngModel)] = "VolCounSearchResult.Country">
                    <option disabled [ngValue]="null"> -- Country --</option>
                    <option *ngFor = " let country of Countries" [ngValue]="country.id">{{country.name}}</option>
                </select>
            </span>
            <span>
                <select name="Country" class="search-select" [(ngModel)] = "VolCounSearchResult.City">
                    <option disabled [ngValue]="null"> -- City --</option>
                    <option *ngFor = " let city of Cities" [ngValue]="city.id">{{city.name}}</option>
                </select>
            </span>
            <button  type="submit" class="btn search-button" (click)="showww()"> Serach</button>
        </div>
    </form>
</div>