<div class="dashboard-container">
    <div class="row">
        <div class="col-md-3 side-bar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9 right-content">
            <!-- Right Panel -->
            <div id="right-panel" class="right-panel">
                <app-navbar></app-navbar>
                <app-breadcrumbs></app-breadcrumbs>
                <div class="container">
                    <div class="card text-center">
                        <div class="card-header">
                          <h3>ADD NEW CUSTOMER</h3>
                          <div class="close" (click)="goback()">
                              <span>x</span>
                          </div>
                        </div>
                        <form>
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <tr>
                                        <td class="title">Country</td>
                                        <td class="data">
                                            <select name="Country" class="form-control"  required [(ngModel)] = "AddEditCustomer.Country">  
                                                <option disabled [ngValue]="null"> -- Country --</option>
                                                <option *ngFor = " let country of Countries" [ngValue]="country.id">{{country.name}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">Agancy Name</td>
                                        <td class="data">
                                            <div class="english">
                                                <label class="refer">
                                                    <img src="../../../assets/images/englishflag.png" alt="english flag" width="100%" height="100%">
                                                </label>
                                                <input 
                                                    type="text" 
                                                    class="form-control" 
                                                    [(ngModel)] = "AddEditCustomer.NameEn" 
                                                    name="NameEn" 
                                                    placeholder="Enter The Name In English">
                                            </div>
                                            <div class="arabic">
                                                <label class="refer">
                                                    <img src="../../../assets/images/Arabic-Language-Flag.svg" alt="english flag" width="100%" height="100%">
                                                </label>
                                                <input 
                                                    type="text" 
                                                    class="form-control" 
                                                    [(ngModel)] = "AddEditCustomer.NameAr" 
                                                    name="NameAr" 
                                                    placeholder="Enter The Name In Arabic">
                                            </div>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">Link</td>
                                        <td class="data">
                                            <input 
                                                type="text" 
                                                class="form-control link" 
                                                [(ngModel)] = "AddEditCustomer.Link" 
                                                name="Link" 
                                                placeholder="Enter The link">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">Image</td>
                                        <td class="data">
                                            <input 
                                                type="file" 
                                                (change)="getFiles($event)" 
                                                name="Image" 
                                                id="file" 
                                                class="inputfile chooseImage" />
                                            <label class="choose" for="file"> <i class="fas fa-upload"></i>Choose a file</label>
                                        </td>
                                    </tr>
                                </table>
                              
                            </div>
                            <div class="card-footer text-muted">
                                <button class='btn btn-primary add-button' (click)="showww()"><i class="fas fa-plus"></i>Add</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





