<div class="dashboard-container">
    <div class="row">
        <div class="col-md-3 side-bar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9 right-content">
            <!-- Right Panel -->
            <div id="right-panel" class="right-panel">
                <app-navbar></app-navbar>
                <app-breadcrumbs></app-breadcrumbs>
                <div class="container">
                    <div class="card text-center">
                        <div class="card-header">
                          <h3>EDIT TERMS & CONDITIONS</h3>
                          <div class="close" (click)="goback()">
                              <span>x</span>
                          </div>
                        </div>
                        <form>
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <tr>
                                        <td class="title">Header</td>
                                        <td class="data">
                                             <!-- About us text in inglish-->
                                             <img class="for-defintion-en" src="../../../assets/images/englishflag.png" width="45px" height="30px">
                                             <div class="guide-en-message">Enter Terms Header In English</div>
                                 
                                            <textarea  
                                                class="form-control about-text" 
                                                [(ngModel)] = "EditHome.HeaderEn" 
                                                name="HeaderEn" 
                                                placeholder="Enter Terms Header In English">
                                            </textarea>
                                      
                                             <!--About us text in arabic-->
                                             <img class="for-defintion-ar" src="../../../assets/images/Arabic-Language-Flag.svg" width="45px" height="30px">
                                             <div class="guide-ar-message">Enter Terms Header In Arabic</div>
                                   
                                            <textarea  
                                                class="form-control about-text" 
                                                [(ngModel)] = "EditHome.HeaderAr" 
                                                name="HeaderAr" 
                                                placeholder="Enter Terms HeaderIn Arabic">
                                            </textarea>
                                
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">Content</td>
                                        <td class="data">
                                            <div class="cont">
                                                <div class="one-row">
                                                    <div class="list1">
                                                        <!-- About us text in inglish-->
                                                        <div class="english">
                                                           <img class="for-defintion-en" src="../../../assets/images/englishflag.png" width="45px" height="30px">
                                                           <div class="guide-en-message">Enter Terms List In English</div>
                                                 
                                                            <textarea  
                                                                class="form-control about-text" 
                                                                [(ngModel)] = "EditHome.ListOneEn" 
                                                                name="ListOneEn" 
                                                                placeholder="Enter Terms List In English">
                                                            </textarea>
                                                  
                                                        </div>
                                                       
                                                       <!--About us text in arabic-->
                                                       <div class="arabic">
                                                           <img class="for-defintion-ar" src="../../../assets/images/Arabic-Language-Flag.svg" width="45px" height="30px">
                                                           <div class="guide-ar-message">Enter Terms List In Arabic</div>
                                                  
                                                            <textarea  
                                                                class="form-control about-text" 
                                                                [(ngModel)] = "EditHome.ListOneAr" 
                                                                name="ListOneAr" 
                                                                placeholder="Enter Terms List In Arabic">
                                                            </textarea>
                                                       </div>
                                                    </div>
                                                    <div class="list2" *ngIf ="ListTwo">
                                                        <!-- About us text in inglish-->
                                                        <div class="english">
                                                           <img class="for-defintion-en" src="../../../assets/images/englishflag.png" width="45px" height="30px">
                                                           <div class="guide-en-message">Enter Terms List In English</div>
                                                 
                                                            <textarea  
                                                                class="form-control about-text" 
                                                                [(ngModel)] = "EditHome.ListTwoEn" 
                                                                name="ListTwoEn" 
                                                                placeholder="Enter Terms List In English">
                                                            </textarea>
                                                  
                                                        </div>
                                                       
                                                       <!--About us text in arabic-->
                                                       <div class="arabic">
                                                           <img class="for-defintion-ar" src="../../../assets/images/Arabic-Language-Flag.svg" width="45px" height="30px">
                                                           <div class="guide-ar-message">Enter Terms List In Arabic</div>
                                                  
                                                            <textarea  
                                                                class="form-control about-text" 
                                                                [(ngModel)] = "EditHome.ListTwoAr" 
                                                                name="ListTwoAr" 
                                                                placeholder="Enter Terms List In Arabic">
                                                            </textarea>
                                                       </div>
                                                    </div>
                                                    <div class="list3" *ngIf ="ListThree">
                                                        <!-- About us text in inglish-->
                                                        <div class="english">
                                                           <img class="for-defintion-en" src="../../../assets/images/englishflag.png" width="45px" height="30px">
                                                           <div class="guide-en-message">Enter Terms List In English</div>
                                                 
                                                            <textarea  
                                                                class="form-control about-text" 
                                                                [(ngModel)] = "EditHome.ListThreeEn" 
                                                                name="ListThreeEn" 
                                                                placeholder="Enter Terms List In English">
                                                            </textarea>
                                                  
                                                        </div>
                                                       
                                                       <!--About us text in arabic-->
                                                       <div class="arabic">
                                                           <img class="for-defintion-ar" src="../../../assets/images/Arabic-Language-Flag.svg" width="45px" height="30px">
                                                           <div class="guide-ar-message">Enter Terms List In Arabic</div>
                                                  
                                                            <textarea  
                                                                class="form-control about-text" 
                                                                [(ngModel)] = "EditHome.ListThreeAr" 
                                                                name="ListThreeAr" 
                                                                placeholder="Enter Terms List In Arabic">
                                                            </textarea>
                                                       </div>
                                                    </div>
                                                    <div class="list4" *ngIf ="ListFour">
                                                        <!-- About us text in inglish-->
                                                        <div class="english">
                                                           <img class="for-defintion-en" src="../../../assets/images/englishflag.png" width="45px" height="30px">
                                                           <div class="guide-en-message">Enter Terms List In English</div>
                                                 
                                                            <textarea  
                                                                class="form-control about-text" 
                                                                [(ngModel)] = "EditHome.ListFourEn" 
                                                                name="ListFourEn" 
                                                                placeholder="Enter Terms List In English">
                                                            </textarea>
                                                  
                                                        </div>
                                                       
                                                       <!--About us text in arabic-->
                                                       <div class="arabic">
                                                           <img class="for-defintion-ar" src="../../../assets/images/Arabic-Language-Flag.svg" width="45px" height="30px">
                                                           <div class="guide-ar-message">Enter Terms List In Arabic</div>
                                                  
                                                            <textarea  
                                                                class="form-control about-text" 
                                                                [(ngModel)] = "EditHome.ListFourAr" 
                                                                name="ListFourAr" 
                                                                placeholder="Enter Terms List In Arabic">
                                                            </textarea>
                                                       </div>
                                                    </div>
                                                    <div class="list5" *ngIf ="ListFive">
                                                        <!-- About us text in inglish-->
                                                        <div class="english">
                                                           <img class="for-defintion-en" src="../../../assets/images/englishflag.png" width="45px" height="30px">
                                                           <div class="guide-en-message">Enter Terms List In English</div>
                                                 
                                                            <textarea  
                                                                class="form-control about-text" 
                                                                [(ngModel)] = "EditHome.ListFiveEn" 
                                                                name="ListFiveEn" 
                                                                placeholder="Enter Terms List In English">
                                                            </textarea>
                                                  
                                                        </div>
                                                       
                                                       <!--About us text in arabic-->
                                                       <div class="arabic">
                                                           <img class="for-defintion-ar" src="../../../assets/images/Arabic-Language-Flag.svg" width="45px" height="30px">
                                                           <div class="guide-ar-message">Enter Terms List In Arabic</div>
                                                  
                                                            <textarea  
                                                                class="form-control about-text" 
                                                                [(ngModel)] = "EditHome.ListFiveAr" 
                                                                name="ListFiveAr" 
                                                                placeholder="Enter Terms List In Arabic">
                                                            </textarea>
                                                       </div>
                                                    </div>
                                                    <div class="list6" *ngIf ="ListSix">
                                                        <!-- About us text in inglish-->
                                                        <div class="english">
                                                           <img class="for-defintion-en" src="../../../assets/images/englishflag.png" width="45px" height="30px">
                                                           <div class="guide-en-message">Enter Terms List In English</div>
                                                 
                                                            <textarea  
                                                                class="form-control about-text" 
                                                                [(ngModel)] = "EditHome.ListSixEn" 
                                                                name="ListSixEn" 
                                                                placeholder="Enter Terms List In English">
                                                            </textarea>
                                                  
                                                        </div>
                                                       
                                                       <!--About us text in arabic-->
                                                       <div class="arabic">
                                                           <img class="for-defintion-ar" src="../../../assets/images/Arabic-Language-Flag.svg" width="45px" height="30px">
                                                           <div class="guide-ar-message">Enter Terms List In Arabic</div>
                                                  
                                                            <textarea  
                                                                class="form-control about-text" 
                                                                [(ngModel)] = "EditHome.ListSixAr" 
                                                                name="ListSixAr" 
                                                                placeholder="Enter Terms List In Arabic">
                                                            </textarea>
                                                       </div>
                                                    </div>
                                                    <div class="list7" *ngIf ="ListSeven">
                                                        <!-- About us text in inglish-->
                                                        <div class="english">
                                                           <img class="for-defintion-en" src="../../../assets/images/englishflag.png" width="45px" height="30px">
                                                           <div class="guide-en-message">Enter Terms List In English</div>
                                                 
                                                            <textarea  
                                                                class="form-control about-text" 
                                                                [(ngModel)] = "EditHome.ListSevenEn" 
                                                                name="ListSevenEn" 
                                                                placeholder="Enter Terms List In English">
                                                            </textarea>
                                                  
                                                        </div>
                                                       
                                                       <!--About us text in arabic-->
                                                       <div class="arabic">
                                                           <img class="for-defintion-ar" src="../../../assets/images/Arabic-Language-Flag.svg" width="45px" height="30px">
                                                           <div class="guide-ar-message">Enter Terms List In Arabic</div>
                                                  
                                                            <textarea  
                                                                class="form-control about-text" 
                                                                [(ngModel)] = "EditHome.ListSevenAr" 
                                                                name="ListSevenAr" 
                                                                placeholder="Enter Terms List In Arabic">
                                                            </textarea>
                                                       </div>
                                                    </div>
                                                </div>
                                            </div>
                                             <button class="btn add-list" (click)="addList()">
                                                <i class="fas fa-plus"></i>
                                             </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="card-footer text-muted">
                                <button class='btn btn-primary save-button' (click)="showww()"><i class="far fa-save"></i>Save</button>
                            </div>
                        </form>
       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





