<div class="dashboard-container">
    <div class="row">
        <div class="col-md-3 side-bar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9 right-content">
            <!-- Right Panel -->
            <div id="right-panel" class="right-panel">
                <app-navbar></app-navbar>
                <app-breadcrumbs></app-breadcrumbs>
                <div class="container">
                    <div class="card text-center">
                        <div class="card-header">
                          <h3>Edit Supervisor</h3>
                          <div class="close" (click)="goback()">
                              <span>x</span>
                          </div>
                        </div>
                        <form>
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <tr>
                                        <td class="title">User Name</td>
                                        <td class="data">
                                       
                                                <input 
                                                    type="text" 
                                                    name="Username"  
                                                    [(ngModel)] = "AddEditCountrySuper.Username"
                                                    class="form-control" 
                                                    placeholder="Enter The User Name">
                                    
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">Password</td>
                                        <td class="data">
                                        
                                                <input 
                                                    type="password" 
                                                    class="form-control password" 
                                                    name="Password"  
                                                    [(ngModel)] = "AddEditCountrySuper.Password" 
                                                    placeholder="Enter The Password">
                                                <i class="show-pass fa fa-eye fa-2x"></i>
                                       
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">Full Name</td>
                                        <td class="data">
                                      
                                                <input 
                                                    type="text" 
                                                    name="Fullname"  
                                                    [(ngModel)] = "AddEditCountrySuper.Fullname" 
                                                    class="form-control" 
                                                    placeholder="Enter The Full Name">
                                   
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">Email</td>
                                        <td class="data">
                                    
                                                <input 
                                                    type="email" 
                                                    name="Email"  
                                                    [(ngModel)] = "AddEditCountrySuper.Email" 
                                                    class="form-control" 
                                                    placeholder="Enter Valid Email">
                                       
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">Country</td>
                                        <td class="data">
                                            <select name = "Country" [(ngModel)] = "AddEditCountrySuper.Country" >
                                                <option disabled [ngValue]="null"> -- Country --</option>
                                                <option *ngFor = " let country of Countries" [ngValue]="country.id">{{country.name}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">Active</td>
                                        <td class="data">
                                            <div class="status">
                                                <input  
                                                    type="radio" 
                                                    id="yes" 
                                                    name="status" 
                                                    value="yes" 
                                                    (change)="radioStatusChangeHandeler($event)">
                                                <label for="yes">Yes</label>
                                                <input  
                                                    type="radio" 
                                                    id="no" 
                                                    name="status" 
                                                    value="no" 
                                                    (change)="radioStatusChangeHandeler($event)">
                                                <label for="no">no</label> 
                                            </div>
                                        </td>
                                    </tr> 
                                </table>
                              
                            </div>
                            <div class="card-footer text-muted">
                                <button class='btn btn-primary save-button' (click)="showww()"><i class="far fa-save"></i>Save</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





